{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="item">
      <a href="/authors/new">add new author</a>
  </div>
{% for author in authors %}
  <div class="item">
      <a class = "title" href = "/authors/{{author.id}}">{{ author.first_name}} {{ author.last_name}}</a>
      <div class="buttons">
          <form class="delete-form" action="/authors/{{author.id}}/delete" method="POST">
            <button class="trash-button"><i class="fa fa-trash-o fa-3x" style="color:darkred" aria-hidden="true"></i></button>
          </form>
      </div>
  </div>
  {% endfor %}
</div>

{% endblock %}