body{
    font-family: "Helvetica", arial, sans-serif; 
    font-size: 16px;
    background-image: url(/static/img/library.webp);
    background-size: cover;
  }
  
  .welcome{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    color: black;
    font-weight: bold;
    text-shadow: 1px 1px 2px white, 0 0 10px whitesmoke;
  }

  .book {
    color:azure;
    border: 1px solid #ccc;
    width: 25%;
    min-height: 100px;
    min-width: 100px;
    padding: 10px;
    margin: 10px;
    background-color:cadetblue;
  }

  .title {
    color:azure;
  }
  
  .author {
    font-weight: bold;
    margin-bottom: 0.5em;
    margin-right: 0.3em;
  }
  
  .year{
    color:gainsboro;
    font-size: 13px;
    margin-left: 20px;
  }
  
  .buttons {
    margin-top: 10px;
    margin-left: 2px;
    font-size: 1.4em;
    color: #aab8c2;
  }
  
  .buttons i {
    width: 80px;
  }
  
  input, select, button {
    font-size: 100%;
    width : 100%;
    padding: 10px;
    margin-right: 10px;
    box-sizing: border-box;
  }
  
  .trash-button{
    display: contents;
    font-size: 65%;
  }
  
  .delete-form{
    display: inline;
  }
  
  .menu{
    display: flex;
    padding: 15px;
    background-color:black;
  }
  
  .menu a{
    color:azure;
    font-family: "Helvetica", arial, sans-serif; font-size: 14px;
  }

  .menu li{
    padding-right: 20px;
    list-style: none;
  }
  
  .container{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
  }

  .show-book {
    display: block;
    background-color: cadetblue;
    padding: 10px;
    width: 30%
  }

form{
  background-color: cadetblue;
  padding: 10px;
  margin: auto;
  width: 30%;
  min-width: 0;
}